{% extends "main/layout.html" %}
{% load static %}

{% block content %}
    <div class="places-info">
        <h1>Сьогоднішнє натхнення для твоєї прогулянки</h1>
        <p>○ Випадкове місце вже обране спеціально для тебе! Просто подивись і насолоджуйся ідеєю, куди піти сьогодні. Можливо, це новий куточок міста або знайоме улюблене місце, яке давно хотів відвідати.</p>
    </div>
{% if place %}
    <div class="place-card">
        <img src="{% static 'main/img/trees.jpg' %}" alt="{{ place.name }}" class="place-img">
        <h2>{{ place.name }}</h2>
        <p>{{ place.description }}</p>
        <p><b>Тип:</b> {{ place.type }}</p>
        <p><b>Локація:</b>
            {% if place.location %}
                {{ place.location }}
            {% else %}
                Secret place 👀
            {% endif %}
        </p>
        <p><b>Рейтинг:</b> {{ place.rating }} / 5 ⭐️</p>
        <p><b>Дата відгуку:</b> {{ place.created_at }}</p>
    </div>
{% else %}
    <p>Немає жодного місця у списку.</p>
{% endif %}

    <a href="{% url 'place_list' %}" class="btn-back">Повернутись до списку місць</a>
{% endblock %}
